// variables
$border-color: #e1e1e1;
$vertical-space: 15px;
$horizontal-space: 10px;

.form-table td div.checkbox {
	line-height: 1.3;
	margin-bottom: 9px;
}

// fieldmap form

form.fieldmap .spinner {
	display: inline-block;
	float: none
}
form.fieldmap fieldset {
	border: 1px solid $border-color;
	margin-bottom: $vertical-space;
	position: relative;
}
form.fieldmap fieldset.fields {
	border: 0;
}
form.fieldmap legend {
    padding-left: $horizontal-space;
    position: absolute;
}

form.fieldmap div {
	padding: $vertical-space $horizontal-space;
}

form.fieldmap div label {
	display: inline-block;
	margin-bottom: $vertical-space / 2;
	font-weight: bold;
}
form.fieldmap div.radios label, form.fieldmap div.checkboxes label {
	display: block;
	font-weight: normal;
}

form.fieldmap div.radios input, form.fieldmap div.checkboxes input {
	display: inline-block;
}
form.fieldmap div input, form.fieldmap div select {
	display: block;
}

.fieldmap table .column-direction {
	min-width: 200px;
}
.fieldmap table td div {
	padding-top: 0;
	padding-left: 0;
}
.fieldmap .missing-object {
	display: inline-block;
	margin-left: $horizontal-space;
}

// messages to display
.salesforce_user_ajax_message {
	margin: 5px 0 $vertical-space;
	padding: 1px 12px;
	border-left: 4px solid #46b450;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	p {
		margin: 0.5em 0;
    	padding: 2px;
	}
}

// profile table for salesforce info
table.mapped-salesforce-user {
	width: auto;
	caption {
		color: #555;
		padding: 8px $horizontal-space;
		border: 1px solid $border-color;
		border-bottom: 0;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	    font-size: 14px;
	    font-weight: 400;
	    text-align: left;
	    line-height: 1.3em;
	}
	tr th {
		width: 140px;
		border-right: 1px solid #e5e5e5;
		font-size: 13px;
	}
}