// variables
$border-color: #e1e1e1;
$vertical-space: 15px;
$horizontal-space: 10px;

form.fieldmap .spinner {
	display: inline-block;
	float: none
}
form.fieldmap fieldset {
	border: 1px solid $border-color;
	margin-bottom: $vertical-space;
	position: relative;
}
form.fieldmap fieldset.fields {
	border: 0;
}
form.fieldmap legend {
    padding-left: $horizontal-space;
    position: absolute;
}

form.fieldmap div {
	padding: $vertical-space $horizontal-space;
}

form.fieldmap div label {
	display: inline-block;
	margin-bottom: $vertical-space / 2;
	font-weight: bold;
}
form.fieldmap div.radios label, form.fieldmap div.checkboxes label {
	display: block;
	font-weight: normal;
}

form.fieldmap div.radios input, form.fieldmap div.checkboxes input {
	display: inline-block;
}
form.fieldmap div input, form.fieldmap div select {
	display: block;
}

.fieldmap table .column-direction {
	min-width: 200px;
}
.fieldmap table td div {
	padding-top: 0;
	padding-left: 0;
}
.fieldmap .missing-object {
	display: inline-block;
	margin-left: $horizontal-space;
}

table.mapped-salesforce-user {
	caption {
		color: #555;
		padding: 8px 10px;
		border: 1px solid #e5e5e5;
		border-bottom: 0;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	    font-size: 14px;
	    font-weight: 400;
	    text-align: left;
	    line-height: 1.3em;
	}
}