.form-table td div.checkbox {
  line-height: 1.3;
  margin-bottom: 9px;
}

form.fieldmap .spinner {
  display: inline-block;
  float: none;
}

form.fieldmap fieldset {
  border: 1px solid #e1e1e1;
  margin-bottom: 15px;
  position: relative;
}

form.fieldmap fieldset.fields {
  border: 0;
}

form.fieldmap legend {
  padding-left: 12px;
  margin-top: 15px;
  position: absolute;
}

form.fieldmap fieldset.fields > :nth-child(2) {
  padding-top: 35px;
}

form.fieldmap fieldset.sync_triggers > :nth-child(2) {
  padding-top: 45px;
}

form.fieldmap div {
  padding: 15px 10px;
}

form.fieldmap div label {
  display: inline-block;
  margin-bottom: 7.5px;
  font-weight: bold;
}

form.fieldmap div.radios label, form.fieldmap div.checkboxes label {
  display: block;
  font-weight: normal;
}

form.fieldmap div.radios input, form.fieldmap div.checkboxes input {
  display: inline-block;
}

form.fieldmap div input, form.fieldmap div select {
  display: block;
}

.fieldmap table .column-direction {
  min-width: 200px;
}

.fieldmap table td div {
  padding-top: 0;
  padding-left: 0;
}

.salesforce_user_ajax_message {
  margin: 5px 0 15px;
  padding: 1px 12px;
  border-left: 4px solid #46b450;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.salesforce_user_ajax_message p {
  margin: 0.5em 0;
  padding: 2px;
}

table.mapped-salesforce-user {
  width: auto;
}
table.mapped-salesforce-user caption {
  color: #555;
  padding: 8px 10px;
  border: 1px solid #e1e1e1;
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 1.3em;
}
table.mapped-salesforce-user tr th {
  width: 140px;
  border-right: 1px solid #e5e5e5;
  font-size: 13px;
}
